{
    "env": {
        "mocha": true
    },

    "globals": {
        "MONGOBIRD_TEST_PORT": true
    },

    "plugins": [ "eslint-plugin-mocha" ],

    "rules": {
        "no-unused-expressions": 0,
        "max-nested-callbacks": [2, 5],
        "mocha/no-exclusive-tests": 2
    }
}
